.App {
  width: 100vw;
  height: 100vh;
}

/* map size */
.Map {
  height: 93vh;
  width: auto;
  overflow: hidden;
}

.Main {
  padding: 1rem 2rem;
}

.Menu {
  display: flex;
  align-items: center;
}

.Menu a {
  margin-left: 0.5rem;
  padding-right: 0.8rem;
  text-decoration: none;
  color: black;
}
