.App {
  width: 100vw;
  height: 100vh;
}

/* map size */
.Map {
  height: 93vh;
  width: auto;
  overflow: hidden;
}

.Commodity-cards-wrapper {
  /* margin-left: 1rem; */
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; */
}

.Main {
  padding: 1rem 2rem;
}

.Menu {
  display: flex;
}

.Menu a {
  margin-left: 0.5rem;
  padding-right: 0.8rem;
  text-decoration: none;
  color: black;
}
