.commodity-card-wrapper {
  margin-bottom: 1rem;
}

.commodity-card {
  height: 15rem;
  width: 11rem;
}

.commodity-card-selected {
  border: 1px solid #448d52;
  height: 15rem;
  width: 11rem;
}

.commodity-card :hover,
.commodity-card-selected :hover {
  cursor: pointer;
}
