.commodity-card {
  display: flex;
  align-items: center;
  height: 9.19rem;
  margin-bottom: 0.6rem;
}

.commodity-card-inner {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.commodity-card img {
  height: 9rem;
  width: auto;
}

.clickable {
  cursor: pointer;
}
