.App {
  width: 100vw;
  height: 100vh;
}

/* map size */
.Map {
  height: 100vh;
  width: auto;
  overflow: hidden;
  border: 1px solid red;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
}

.import-wrapper-inner {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}

.import-wrapper {
  display: flex;
  align-items: center;
}

.messages {
  margin-bottom: 0.8rem;
}
