.App {
  width: 100vw;
  height: 100vh;
}

/* map size */
.Map {
  height: 93vh;
  width: auto;
  overflow: hidden;
}

.Commodity-cards-wrapper {
  margin-left: 1rem;
}

.Commodity-card {
  margin-bottom: 0.5rem;
}

.Main {
  padding: 1rem 2rem;
}